
<div class="container">
  <nav class="navbar navbar-expand-md sticky-top navbar-dark">
  
    <a class="nav-brand d-flex justify-content-center align-items-center" href="#">
      <img src="https://cdn.worldvectorlogo.com/logos/spotify-2.svg" width="40" height="40" class="d-inline-block align-top" alt="">
      <h3 class="pl-1 mb-0"> SpotiApp</h3>   
    </a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="spacer collapse navbar-collapse" data-toggle="collapse" data-target=".navbar-collapse"
      id="navbarSupportedContent">
      <ul class="navbar-nav pr-5 links-list">
        <li class="nav-item title" routerLinkActive="active">
          <a class="nav-link titleH" routerLink="home">Home</a>
        </li>
  
        <li class="nav-item title" routerLinkActive="active">
          <a class="nav-link titleH" routerLink="search">Search</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<!-- <nav class="navbar navbar-expand-md sticky-top">
  <div class="container"> 
    <a class="spoti-logo" href="#">
      <img src="/src/assets/img/banner-ico.png" width="40" height="40" class="d-inline-block align-top" alt="">
      <h3 class="d-i t-none">  SpotiApp</h3>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="class="collapse navbar-collapse" id="navbarSupportedContent"">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="home">Home</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="search">Search</a>
        </li>
        <li><a href="">Download</a></li>
        <li><a>|</a></li>
        <li><a href="">Sign up</a></li>
        <li><a href="">Log In</a></li>
      </ul>  
    </div>
  </div>
</nav> -->